<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="app/img/menu.svg"></md-icon>
        </md-button>
        <h2>
            <span>Waiting List Management</span>
        </h2>
        <span flex></span>
        <md-menu md-position-mode="target-right target" >
            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon md-menu-origin md-svg-icon="app/img/more_vert.svg"></md-icon>
            </md-button>
            <md-menu-content width="4" >
                <md-menu-item>
                    <md-button>
                        <div layout="row" flex>
                            <p flex ng-click="home.exportToCSV()">Export to CSV</p>
                        </div>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>

<md-content layout-padding>
    <dtable options="home.options" rows="home.patients" class="material dt" on-row-click="home.onRowClick(row)"></dtable>
</md-content>